@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Quicksand&display=swap');

body {
    margin: 0;
}

.noselect { 
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}

.container { 
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    .count {
        font-family: "Quicksand", sans-serif;
        position: absolute;
        margin: 0;
        right: 20px;
        bottom: 20px;
    }

    .arrow {
        margin: 0 20px;
        align-self: middle;
        font-size: 48px;
        font-family: "Quicksand", sans-serif;

        @extend .noselect;
    }

    .verse-wrapper {
        position: relative;
        max-width: 600px;
        padding: 15px;
        box-sizing: border-box;
        
        .verse {
            font-size: 22px;
            font-family: "Quicksand", sans-serif;
        }
    
        .ref {
            font-size: 22px;
            font-family: "Bebas Neue", sans-serif;
    
            font-weight: bold;
            text-align: right;
        }
    }
}